<p id="notice"><%= notice %></p>

<p>
  <strong>Content:</strong>
  <%= @lecture.content %>
</p>

<p>
  <strong>Attachment:</strong>
  <%= link_to "download", @lecture.attachment_url %>
</p>
<br/>
<br/>

  <div id="thread_1_div" class="thread" >
  <a data-remote="true" href="/commontator/threads/1">Show Comments </a>
</div>

<%= link_to like_lecture_path(@lecture), method: :put do %>
  Upvote
  <%= @lecture.get_upvotes.size %>
<% end %>

<%= link_to dislike_lecture_path(@lecture), method: :put do %>
  Downvote
  <%= @lecture.get_downvotes.size %>
<% end %>

<%= link_to 'Edit', edit_lecture_path(@lecture) %> |
<%= link_to 'Back', lectures_path %>
